<div class=wrapper>
  <div class="menu">
    <%= link_to 'Abrir processo', public_novo_atendimento_path, class: 'btn btn-primary btn-block' %>
    <%= link_to 'Consultar processo', public_consulta_atendimento_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>