<div class=wrapper>
  <div class="menu">
    <%= link_to 'Abrir processo', new_atendimento_path, class: 'btn btn-primary btn-block' %>
    <%= link_to 'Consultar processo', consulta_atendimento_path, class: 'btn btn-primary btn-block' %>
  </div>
</div>