@import "bootstrap";
@import '@fortawesome/fontawesome-free';
@import "atendimentos";

html, body {
  padding: 0;
  height: 100%;
}

@include media-breakpoint-up(xl) {
  .menu {
    width: 20%;
  }
}

@include media-breakpoint-up(md) {
  .menu {
    width: 25%;
  }
}

@include media-breakpoint-down(md) {
  .menu {
    width: 50%;
  }
}

@include media-breakpoint-down(sm) {
  .menu {
    width: 75%;
  }
}

.wrapper {
  display: flex;
  width: 100%;
  justify-content: center;
  padding-top: 1rem;
}