.card-processo {
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  background-clip: padding-box;
  padding: 0.75rem;
}

.form-consulta-processo {
  margin-bottom: 0.75rem;
}

.card-processo p:last-child {
  margin: 0 !important; 
}